<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
	<p class="text-center">about</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae blanditiis possimus quibusdam eius harum voluptas culpa rem accusantium voluptates eligendi aliquid amet minus fugit tenetur perspiciatis nesciunt rerum aspernatur dolorum assumenda quos velit obcaecati commodi reprehenderit. Similique at reiciendis nisi assumenda dolorum vel fugiat animi accusantium error officia quis dicta magnam nemo sit itaque. Excepturi reiciendis.
	</p>
</section>
</body> 
</html>